#instagram-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
    width: 50%;
    height: 40vh;

    border-bottom: 2px solid rgba(0, 0, 0, 0.3); /* 50% opacity */

    margin-bottom: 5%;
}


#instagram-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}


#instagram-top-container img{
    width: 50px;
    height: auto;
}



#instagram-top-container p{
    font-size: 45px;
    font-family: 'NEOTERIC_BOLD';
}




#instagram-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

#instagram-image-container img { 
    width: 150px;
    height: 150px;

}
