#what-we-do-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; 
    height: 70vh;
    margin: auto;
    padding: 0 5%;
    background-color: white;
    gap: 20px;
}


#what-we-do-container-left-side {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}


#what-we-do-container-left-side img {
    width: 100%;
    height: 70%;
 
}


#what-we-do-container-right-side {

    flex-direction: column;
    width: 60%;

    align-items: center;
    justify-content: center;
    text-align: start;
}

#what-we-do-container-right-side ol {
    list-style: none; /* Remove default bullets */
   
    margin-left: 2%;
    font-family: 'NEOTERIC_BOLD';
    font-size: 20px;
    margin-bottom: 8px; /* Adjust the value for the desired gap */
}

#what-we-do-container-right-side ol li {
    position: relative; /* Needed for positioning the custom bullet */
    margin-bottom: 8px; /* Adjust the value for the desired gap */
}



#what-we-do-container-right-side p {
    color: grey;
    line-height: 30px;
}


#what-we-do-container-right-side a {

    width: 150px;
    height: 50px;

    font-size: 20px;
    border: 2px solid black;
    background-color: transparent; /* Initial background color */
    color: black; /* Initial text color */
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition effect */
    text-decoration: none;
    
    display: flex;          
    justify-content: center; 
    align-items: center;     
}

#what-we-do-container-right-side a:hover {
    background-color: black;
    color: white;
}


#what-we-do-container-right-side a:hover {
    background-color: black;
    color: white;
}
