#portfolio-container {
    width: 50%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2); /* 90% opacity */
}


#portfolio-container a {
    width: 20%;
    height: 25%;
    font-size: 20px;
    border: 2px solid black;
    background-color: transparent; /* Initial background color */
    color: black; /* Initial text color */
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition effect */
    
    text-decoration: none;
    display: flex;          
    justify-content: center; 
    align-items: center;    
}

#portfolio-container a:hover {
    background-color: black;
    color: white;
}
