#work-with-us-container {
    position: relative;
    width: 100%;
    height: 85vh;
    margin-top: 5%;
    display: flex;
    
    overflow: hidden; 
    color: white;
    margin-top: -25px; /* this is because every instagram container has a margin-bottom of 100px */
}


#work-with-us-container h1 {
    font-size: 75px;
}

#work-with-us-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(40%);

}




#work-with-us-inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




/* title */
#work-with-us-inner-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





#overlay-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60%;
    width: 100%;
}


#overlay-form p {
    align-self: flex-start;
    margin-bottom: 1%;
    font-size: 30px;
}

#overlay-form label {
    display: block;
    width: 100%;
    margin-bottom: 1%;
}






#form-name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}


#form-name-container label {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: -7px 
}






/*Every single form box */
.form-group {
    margin-bottom: 3%;
    width: 100%;
    font-size: 30px;

}

/* input boxes */
.form-control { 
    background-color: white;
    height: 4vh;
    font-size: 10%;
    width: 100%;
}






#message {
    height: 10vh;
}

.button {
    width: 20%;
    height: auto;
    padding: 2%;
    margin-top: 5%;

    font-size: 25px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.2); /* Initial background color */
    color: white; /* Initial text color */
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition effect */
    text-align: center;
}


.button:hover {
    background-color: white;
    color: black;
}


