#work-with-us-container {

    width: 50%;
    height: 75vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
   
    gap: 30px;

    padding: 5% 0;
    
}

#work-with-us-container h3 {
    font-size: 25px;
    text-align: left;
}




#left-inner-container {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    height: 100%;
    width: 60%;

  
}

#left-inner-container h3{
    margin-bottom: 5%;
}

#right-inner-container {
    height: 100%;
    width: 40%;
  
    display: flex;
    flex-direction:column;

    align-items: flex-start;
 
}


#map {
    width: 100%;
    height: 80%;
    border:0;
}

#contact-form{
    width: 100%;
}


#text-container{

    width: 100%;
    height: 20%;

 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 5%;
    font-size: 25px;
  
}



#overlay-form {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-name-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

#form-name-container .form-group {
    flex: 1;
}

#form-name-container label {
    font-size: 90%;
}

.form-group {
    margin-bottom: 1%;
    width: 100%;
    font-size: 20px;
}

#overlay-form label {
    display: block;
    width: 100%;
    margin-bottom: 1%;
}

#overlay-form .form-control {
    width: 100%;
}

.form-control {
    background-color: white;
    height: 4vh;
    font-size: 10px;
}

#message {
    height: 10vh;
}

#overlay-form .button {
    width: 25%;
    height: auto;
    padding: 2%;
    margin-top: 5%;


    font-size: 20px;
    border: 2px solid white;
    border: 2px black solid;
    color: black; /* Initial text color */
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition effect */
    text-align: center;
}


#overlay-form .button:hover {
    background-color: black;
    color: white;
}



#overlay-form p {
    align-self: flex-start;
    margin-bottom: 2%;
    font-size: 25px;
}


