#instagram-container{
    display: grid;
    grid-template-columns: auto;

    
    width: 50%;
    height: 40vh;

    border-bottom: 2px solid rgba(0, 0, 0, 0.3); /* 50% opacity */
}


#instagram-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instagram-top-container img{
    width: 50px;
    height: auto;
}
#instagram-top-container p{
    font-size: 45px;
    font-family: 'NEOTERIC_BOLD';
}



#instagram-image-container {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr)); 
    grid-template-rows: repeat(auto-fill, 125px); 

    

    gap: 1rem;
    box-sizing: border-box; 
    min-height: max-content;

}


#instagram-image-container img {
    width: 125px;
    height: 125px;
    object-fit: cover;
}
