body {

    overflow: auto;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: none;
  }


h1, h2, h3{
    font-family: 'NEOTERIC_REGULAR'
}

.on-top{
    z-index: 1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


