<div id="what-we-do-container">

    
    <div id="what-we-do-container-left-side">
        <img src="{{ url_for('static', filename='images/blended_image.jpg') }}" alt="Blended work photo" >
    </div>

    <div id="what-we-do-container-right-side">
        <h1>WHAT WE DO</h1>
        <br>   
        <p class="quicksand-text">We provide our clients with years of experience of work with hardwoods, traditional plywood and the most exotic wood veneers which set the standard for a superior craftsmanship and an exceptional finish. Our finishing team is capable of matching any existing finish or creates the desirable client’s expectation.         </p>
        
        <br><br>
        <ol>
            <li>RESIDENTIAL  </li>
            <li>CONDOMINIUM LOBBY </li>
            <li>RESTAURANT  </li>
            <li>COMMERCIAL </li>
        </ol>
        
        <br>
        
        <button class="btn dosis-header">SERVICES</button>


    </div>

</div>