<div id="instagram-container">
    <div id="instagram-top-container">
        <p>AHB_CARPENTRY</p>
        <img id="ig-logo" src="{{ url_for('static', filename='images/icons/instagram_black_inner.png') }}">
    </div>
   
    <div id="instagram-image-container">
        <img src="{{ url_for('static', filename='images/Hornchuch/door.jpg') }}" alt="Blended work photo">
        <img src="{{ url_for('static', filename='images/stock_image11.png') }}" alt="Blended work photo">
        <img src="{{ url_for('static', filename='images/beauli_park/standing2.jpg') }}" alt="Blended work photo">
        <img src="{{ url_for('static', filename='images/floor.jpg') }}" alt="Blended work photo">
    </div>
</div>



