<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}AHB{% endblock %}</title>
    <!-- Include default stylesheets or meta tags here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/BASE/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/BASE/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/BASE/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/BASE/fonts.css') }}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">




    {% block styles %}{% endblock %}
</head>
<body>
    {% include 'BASE/navbar.html' %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% include 'BASE/footer.html' %}

    <!-- Include scripts at the end of the body for better performance -->
    {% block script %}{% endblock %}
</body>
</html>
