<footer>
    <div id="footer-container">
        <div id="footer-social-media-container">
            <img src="{{ url_for('static', filename='images/icons/facebook_white.png') }}" alt="Facebook icon">
            <img src="{{ url_for('static', filename='images/icons/instagram_white.png') }}" alt="Instagram icon">
        </div>

        <div id="footer-logo-container">
            <img src="{{ url_for('static', filename='images/logo_white_small.png') }}" alt="Facebook logo">
        </div>
        
        <div id="footer-text-container">
            <p>&copy; Copyright 2024 AHB Carpentry & Wood Flooring</p>
            <p>Development & Website by Taylor Threader</p>
        </div>
    </div>
</footer>
