{% extends "BASE/base.html" %}

{% block title %}Home - AHB{% endblock %}

{% block styles %} 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/INDEX/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/INDEX/slideshow.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/INDEX/info.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/INDEX/logo1.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/INDEX/what_we_do.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/INDEX/logo2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/INDEX/portfolio.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/INDEX/instagram.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/INDEX/work_with_us.css') }}">
  
{% endblock %}

{% block content %}
    <div id="index-container">
        {% include 'INDEX/1_slideshow.html' %}
        {% include 'INDEX/2_info.html' %}
        {% include 'INDEX/3_logo1.html' %}
        {% include 'INDEX/4_what_we_do.html' %}
        {% include 'INDEX/5_logo2.html' %}
        {% include 'INDEX/6_portfolio.html' %}
        {% include 'INDEX/7_instagram.html' %}
        {% include 'INDEX/8_work_with_us.html' %}

    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
{% endblock %}
