
<div id="info-container">

    <div id="left-side">
        <h1>AHB Carpentry & Wood Flooring</h1>

        <p>
            AHB Carpentry and Wood Flooring, nestled in Maldon, UK, is a cherished family-run business renowned for bespoke carpentry and wood flooring solutions. 
            With a deep tradition of craftsmanship spanning generations, quality has always been our hallmark. 
            Under the leadership of Lewis Hazel, we proudly uphold this legacy, offering some of the finest handcrafted woodwork and flooring services available.
        </p>
        <p>
            Trusted by homeowners and businesses across Maldon and its surroundings for years, we are committed to meticulous attention to detail in every project we undertake. 
            Whether enhancing residential spaces or transforming commercial interiors, AHB Carpentry ensures exceptional craftsmanship, prioritizing customer satisfaction above all else.
        </p>
    </div>

    <div id="right-side">
        <div id="phone-container">
            <h2>Phone</h2>
            <p>305 888 9836</p>
        </div>

        <div id="location-container">
            <h2>Phone</h2>
            <p>305 888 9836</p>
        </div>

        <button class="btn">Get in touch.</button>
    </div>


</div>