<div id="what-we-do-container">
    <div id="left-side">
        <img src="{{ url_for('static', filename='images/blended_image.jpg') }}" alt="Blended work photo" style="width: 20%; height:auto;">
    </div>

    <div id="right-side">
        <h1>WHAT WE DO</h1>
        <p>We provide our clients with years of experience of work with hardwoods, traditional plywood and the most exotic wood veneers which set the standard for a superior craftsmanship and an exceptional finish. Our finishing team is capable of matching any existing finish or creates the desirable client’s expectation.         </p>

        <ol>
            <li>LUXURY RESIDENCES </li>
            <li>CONDOMINIUM LOBBY </li>
            <li>RESTAURANT  </li>
            <li>COMMERCIAL </li>
        </ol>
    </div>

</div>