{% extends "BASE/base.html" %}

{% block title %}Home - AHB{% endblock %}

{% block styles %} 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slideshow.css') }}">
{% endblock %}

{% block content %}
    <h1>A.H.B Carpentry & Wood Flooring</h1>
    <p>This is the home page content.</p>
    
    {% include 'slideshow.html' %}
    




{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
{% endblock %}
